<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vibe</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="orderhistory.css">

    </head>
    <body>
        <div id="wrap">
        #parse("header.vm")
        <div class="backgroundimgandform">
            <img src="trebleclef.png" height="500" width="200" class="trebleclef">
        </div>
        <div class="orderIdSelect">
            <form method="get">
                <label for="orderId">OrderID:</label>
                    <select id="orderId" name="orderId">
                    #foreach($orderId in $orderIdList)
                        <option value="$orderId" style="width:40px"> $orderId </option>
                    #end
                    </select>
                    <button type="submit">Submit</button>
            </form>
        </div>
        #if($orderId!=-1)
            <div class="customer">
                <h3> Customer: </h3>
                <ul>
                    <li>$orderDetails.name</li>
                    <li>$orderDetails.email</li>
                </ul>
            </div>
            <div class="totalPriceAndDate">
                <p><b><em> Date: $orderDetails.fulfill_date </em></b></p>
                <p><em> Total: $orderDetails.total_price LEI</em></p>
            </div><br><br>
        <table class="itemsTable">
           <tr>
              <th> Item description </th>
              <th> Quantity </th>
              <th> Amount </th>
           </tr>
           <tr>
           #foreach($orderItem in $orderItemDetails)
               <td> $orderItem.itemDescription </td>
               <td> $orderItem.quantity </td>
               <td> $orderItem.amount LEI </td>
           </tr><tr>
           #end
           </tr>
        </table>
        #end
        </div>
    </body>
</html>