#wrap{
    min-width: 1890px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}

.quote{
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 30px;
}

.cart {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    float:right;
    width:400px;
    margin-top:-1920px;
    margin-right:100px;
    border:4px solid green;
    border-radius:25px;
    margin-bottom:1200px;
    padding: 40px 40px 40px 40px;
}

.style {
    padding: 0 16px;
}

.container {
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     padding: 5px 20px 15px 20px;
     display:block;
     margin-right: auto;
     margin-left: 700px;
     margin-right:700px;
     margin-bottom: 400px;
     border: 5px solid green;
     border-radius: 25px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

.deleteButton{
    font-size:18px;
    background-color:green;
    color:white;
    border-radius:25px;
    float:right;
    margin-top:-140px;
    margin-right:180px;
    padding:10px 10px 10px 10px;
}

.deleteButton:hover {
    background-color: #45a049;
}

.backButton{
    text-decoration:none;
    border:3px solid black;
    font-size:40px;
    background-color:green;
    color:white;
    border-radius:25px;
    float:left;
    margin-top:-1920px;
    margin-left:100px;
    padding:10px 10px 10px 10px;
}

.backButton:hover{
    background-color: #45a049;
}