.container{
    border:4px solid black;
}

.logo{
    margin-left:-300px;
}

.companyDetails{
    float:left;
    margin-top:200px;
    margin-left:100px;
}

.billTo{
    margin-top:280px;
    margin-left:150px;
    font-size:20px;
}

.shipTo{
    margin-left:420px;
    margin-top:-138px;
    font-size:20px;
    float:left;
}

.date{
    float:right;
    font-size:25px;
    margin-top:-100px;
    margin-right:200px;
}

.itemsTable,th,td {
    border:3px solid black;
    border-collapse: collapse;
    width:70%;
    text-align:center;
    font-size:20px;
}

.itemsTable {
    margin-top:60px;
    margin-bottom:100px;
    display:block;
    border:3px solid black;
    margin-left:auto;
    margin-right:auto;
}

tr:nth-child(odd){
    background: #AEF359;
}

.itemsTable th{
    background-color:green;
    color:white;
    padding:0px 25px;
}

.totalPrice{
    float:right;
    font-size:40px;
    margin-top:-100px;
    margin-right:100px;
}