#wrap{
    min-width: 1890px;
}

.social_icons{
    margin-bottom:-60px;
    padding: 20px;
    font-size: 30px;
    width: 140px;
    text-align: center;
    text-decoration: none;
    margin-left:1700px;
    border-radius: 3em;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.quote{
    display: block;
    margin-top:150px;
    margin-right:600px;
    text-align: center;
    font-size: 30px;
    float:right;
}

.mainbar {
    background-color: #AEF359;
    overflow:hidden;
    font-size:0px;
    top:5px;
    height:40px;
    width:1700px;
    border-radius: 25px;
    border: 5px solid black;
    text-align:right;
}

.mainbar a {
    background-color: darkgreen;
    padding:15px 10px 15px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-family: serif;
    font-size: 35px;
}

.mainbar a:hover {
  background-color: green;
  color: white;
}

.mainbar a.active {
  background-color: #04AA6D;
  color: black;
}

.sidenav {
  margin-left:210px;
  height: 480px;
  width: 300px;
  background-color: #74B72E;
  padding-top: 10px;
  border:5px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sidenav a {
  padding: 1px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px green;
  display: block;
}

.sidenav a:hover{
  background-color: black;
  border-radius: 25px;
  color:white;
}

.center_image{
  margin-left: 450px;
  margin-right: 150px;
  margin-top: -490px;
  border:7px solid black;
  height:600px;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.trebleclef{
  float:left;
  margin-top:-505px;
  width:200px;
  height: 495px;
  border:8px solid black;
  border-radius:25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

span.psw {
  padding-top: 16px;
}
