.orderIdSelect{
    margin-left:360px;
    margin-top:-485px;
    color:green;
    font-size:25px;
    float:left;
}

.customer{
    margin-left:575px;
    font-size:20px;
    margin-top:-450px;
}

.itemsTable,th,td {
    border:3px solid black;
    border-collapse: collapse;
    width:70%;
    text-align:center;
    font-size:20px;
}

.itemsTable {
    margin-top:60px;
    margin-bottom:100px;
    display:block;
    border:3px solid black;
    margin-left:540px;
}

tr:nth-child(odd){
    background: #AEF359;
}

.itemsTable th{
    background-color:green;
    color:white;
    padding:0px 25px;
}

.totalPriceAndDate{
    float:right;
    font-size:30px;
    margin-top:-350px;
    margin-right:100px;
}