#wrap{
    min-width: 1890px;
}

.logo{
    display: block;
    margin-left: 710px;
    width:700x;
     border:4px solid #5DBB63;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.quote{
     display: block;
     margin-left:auto;
     margin-right:auto;
     text-align: center;
     font-size: 30px;
}

.completemessage{
    background-color:white;
    text-align:center;
    color:#5DBB63;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    display:block;
    font-size:20px;
    border:4px solid #5DBB63;
    border-radius:30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:800px;
}

.welldone{
    width:200px;
    float:right;
    margin-top:-270px;
    margin-right:300px;
    border:4px solid #5DBB63;
    border-radius:30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.buttons{
    display:block;
    margin-left:600px;
    margin-top:50px;
}

.backbutton{
    border:4px solid #5DBB63;
    border-radius:25px;
    color:white;
    padding:10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-decoration:none;
}

.nextbutton{
    text-decoration:none;
    border:4px solid #5DBB63;
    border-radius:25px;
    margin-left:400px;
    color:white;
    padding:10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.backbutton:hover{
    background-color:green;
    opacity: 0.7;
}

.nextbutton:hover{
    background-color:green;
    opacity: 0.7;
}