.searchbar input[type=text]{
  float:left;
  margin-top:-544px;
  margin-left:800px;
  padding: 4px;
  border: 5px solid black;
  font-size: 17px;
  text-align: center;
}

.searchbar button {
  float:left;
  color: white;
  margin-top:-546px;
  margin-left:700px;
  padding: 6px 10px;
  background: black;
  font-size: 17px;
  border: 5px solid green;
  cursor: pointer;
}

.zeroFound{
 float:right;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:25px;
    border: 10px solid black;
    height:635px;
    max-width: 300px;
    margin-left:20px;
    text-align: center;
    font-size:30px;
    font-family: arial;
}

.price {
    color: black;
    font-size: 25px;
}

.card button {
    border:2px solid black;
    outline: 0;
    padding:8px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom:-60px;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.brandfilter {
    border:5px solid black;
    border-radius:25px;
    margin-top:50px;
    height: 750px;
    width: 300px;
    float:left;
    background-color:green;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.brandform {
    border:5px solid black;
    background-color:white;
    font-size:18px;
    text-align:left;
    top:80px;
    margin-top:20px;
    margin-bottom:20px;
    height:670px;
}

.pricefilter {
    margin-top:1250px;
    margin-left:-260px;
    border:5px solid black;
    border-radius: 25px;
    height:240px;
    float:left;
    background-color:green;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.priceform {
    border:5px solid black;
    margin-top:50px;
    background-color:white;
    font-size: 18px;
    text-align: center;
}

.tablealign {
    margin-left:300px;
    margin-top:-1275px;
}
